<div class="history">
  <div class="history-content">
    <% for (var row of history.list) { %>
      <div class="history-item">        
        <div class="history-left">
          <div class="history-term">
            <%= row.started_in + ' ~ ' + (row.finished_in ? row.finished_in : '現在') %>
          </div>
        </div>
        <div class="history-right">
          <div class="history-label">
            <%= row.label %>
          </div>
          <div class="history-text">
            <%= row.description %>
          </div>
        </div>
      </div>
    <% } %>     
  </div>
</div>