<div class="navbar-wrapper">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#profile">Profile</a>
        <a class="nav-item nav-link" href="#history">History</a>
        <a class="nav-item nav-link" href="#skills">Skills</a>
        <a class="nav-item nav-link" href="#works">Works</a>
        <a class="nav-item nav-link" href="#contact">Contact</a>
      </div>
    </div>
  </nav>  
</div>