<div class="skill_card">
  <h3><%= skill.label %></h3>
  <table class="table">
    <% for (var item of skill.list) { %>
      <tr>
        <td><%= item.label %></td>
        <td><%= item.term %></td>
        <td><%= item.description %></td>
      </tr>
    <% } %>
  </table>
</div>