<div class="skill-cards">
  <h3><%= skill.label %></h3>
  <ul class="skill-item-list">
    <% for (var item of skill.list) { %>
      <li class="skill-item">
        <div class="skill-item-top">
          <h4><%= item.label %></h4>
          <p class="skill-item-term">
            <%= item.term %>
          </p>
        </div>
        <div class="skill-item-bottom">
          <p><%= item.description %></p> 
        </div>
      </li>
    <% } %>
  </ul>
</div>