<div class="main-wrapper">
  <div class="main-content">
    <div id="profile" class="article">   
      <h1>Profile</h1>
      <div class="profile-text">
        <% for (var text of site.data.index['profile']['texts']) { %>
        <p><%= text %></p> 
        <% } %>
      </div>
    </div>
  </div>
</div>

    