<div class="navbar-wrapper">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#profile">Profile</a>
          <a class="nav-item nav-link" href="#skills">Features</a>
          <a class="nav-item nav-link" href="#works">Pricing</a>
          <a class="nav-item nav-link" href="#contact">Contact</a>
        </div>
      </div>
  </nav>    
</div>
<div class="container-fluid"> 
  <div class="row main-wrapper">
      <div id="profile" class="article offset-sm-1 col-sm-10">   
        <h1>Profile</h1>     
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
      </div>
      <div id="skills" class="article offset-sm-1 col-sm-10">
        <h1>Skills</h1>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
      </div>    
      <div id="works" class="article offset-sm-1 col-sm-10">
        <h1>Works</h1>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
      </div>    
      <div id="contact" class="article offset-sm-1 col-sm-10">
        <h1>Contact</h1>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
        index    <br>
      </div>    
  </div>
</div>
        