<div class="history">
  <table class="table">
    <% for (var row of history.list) { %>
      <tr>
        <td><%= row.started_in + ' ~ ' + (row.finished_in ? row.finished_in : '現在') %></td>
        <td><%= row.label %></td>
        <td><%= row.description %></td>
      </tr>
    <% } %>     
  </table> 
</div>