@import "_partial/navbar"
@import "_partial/footer"
.main-wrapper {
  padding: 40px 0;
  background-color: #fcc;
  .article {
    padding: 40px 40px;
    margin: 40px 40px;
    background-color: #fff;
    #skills {
      .card {
          background-color: green;
      }
    }
  }
}
