$maincolor = #711;
$basecolor = #f0d3d1;
$black = #555;

@import "_partial/*"
.main-wrapper {
  padding: 40px 0;
  background-color: $basecolor;
  .article {
    padding: 40px 40px;
    margin: 40px 40px;
    background-color: #fff;
  }
  h1 {
    padding: 20px;
    text-align: center;    
  }
  h3 {
    color: $maincolor
    text-align: center;
    padding: 0 10px;
  }
  h3::before {
    content: "- "    
  }
  h3::after {
    content: " -"
  }
}
* {
  color: $black;
  h1 {
    color: $maincolor;
  }
  .table {
    th,
    td {
      border-color: $basecolor;
    }
    border-bottom: solid 1px $basecolor;
  }
}
