.profile-text {
  text-align: center;
  margin: 10px;
}
.history {
  display: inline-block;
  text-align: center;

  .history-content {
  }
  .history-item {
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
    padding: .5rem;
    margin: .2rem;
    width: 90%;
  }
  .history-left {

  }
  .history-term {
    width: 10rem;
  }
  .history-label {
    font-weight: bold;
  }
  .history-text {
    padding: .1rem;
  }
}